{% extends "layout.html" %}
{% block body %}
<div id="wrapper">
	<div id="sidebar-wrapper"> 
		<div>
			<img src="static/css/logo.png" height="150" width="150" />
		</div>
		<div class="title-text map-title">Mood Map</div>
		<div id="calendar" class="yui3-skin-sam">
			<p>Please select a date:</p>
			<div class="yui3-u">
		    	<!-- Container for the calendar -->
		    	<div id="mycalendar"></div>
			</div>
		</div>

		<form id="toggleform" class="switch-toggle well">
		    <input id="before" name="selectedtime" type="radio" value="before" checked="checked">
		    <label for="before">Before class</label>

		    <input id="after" name="selectedtime" type="radio" value="after">
		    <label for="after">After class</label>
	    	<a class="btn btn-info"></a>
		</form>
		<footer>© 2016 Copyright Team Moo</footer>
	</div>
	<!--
	<select name="time" id="time" class="form-control" style="width:720px;margin:auto;">
		{% for tg in timeGroup %}
			{% if tg[1] == mapTime%}
			<option value={{tg[0]}} selected>{{tg[1]}}</option>
			{% else %}
			<option value={{tg[0]}}>{{tg[1]}}</option>
			{% endif %}
		{% endfor %}
	</select>
	-->
	
	<div id="page-content-wrapper">
		<label id="currentdate" class="title-text"></label>
		<form id="heatmapform" class="tabs">
	      	<input type="radio" name="tabs" id="pa" value="pa" checked="checked">
			<label for="pa">
	        	<img src="static/css/happy.png" height="40px" width="40px" />
	    	</label>

	    	<input type="radio" name="tabs" id="na" value="na">
			<label for="na">
	        	<img src="static/css/sad.png" height="40px" width="40px" />
	    	</label>

	    	<div id="heatmapContainerWrapper">
	    	</div>
		</form>
	</div>
	<input type="text" name="classid" id="classid" value="{{classId}}" style="opacity:0;">

{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/classmap.js')}}"></script>
<script type="text/javascript">
	var promise = new Promise(function(resolve, reject) {
	  resolve();
	});

	promise.then(function() {
	  $(document).ready(function(){
  		var latestAfterTime = "{{timeGroup[0][0]}}";
  		var latestBeforeTime = "{{timeGroup[1][0]}}";

  		if (latestBeforeTime.substring(0,14) == latestAfterTime.substring(0,14)) {
  			$("#before").val(latestBeforeTime);
	  		$('#after').val(latestAfterTime);
  		}
  		else {
  			$("#before").val(latestAfterTime);
	  		$('#after').val(latestAfterTime);
  		}
  		// console.log("{{timeGroup}}");
      	// if (curdate == newDate){
      	// 	intime.push("{{timeGroup[0]}}");
      	// }
	  	// $("#before").val("April_22,_2016_-_09:01");
	  	// $('#after').val("April_22,_2016_-_09:40");
		reloadHeatmap();
	  });
	});

	$('#heatmapform input').on('change', function(){
		reloadHeatmap();
	});

	//$('#time').change(function() {
	//	reloadHeatmap()
	//});

	function reloadHeatmap() {
		var opt = $('input[name="tabs"]:checked', '#heatmapform').val();
		//var mapTime = $('#time').val();
		var mapTime = $('input[name="selectedtime"]:checked', '#toggleform').val();
		document.getElementById('currentdate').innerText = mapTime.substring(0,14).split('_').join(' ');

		var classId = $('#classid').val();
		$( "#heatmapContainerWrapper" ).load( "/heatmap", {time: mapTime, classid: classId, optType: opt});
	}
	// onchange="this.form.submit()"
	$('#toggleform input').on('change', function(){
		console.log($('input[name="selectedtime"]:checked', '#toggleform').val());
		reloadHeatmap();
	});

	YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {
	    var calendar = new Y.Calendar({
	      contentBox: "#mycalendar",
	      width:'340px',
	      showPrevMonth: false,
	      showNextMonth: false,
	      date: new Date(2016, 3, 1)}).render();

	    // Get a reference to Y.DataType.Date
	    var dtdate = Y.DataType.Date;

	    // Listen to calendar's selectionChange event.
	    calendar.on("selectionChange", function (ev) {

	      // Get the date from the list of selected
	      // dates returned with the event (since only
	      // single selection is enabled by default,
	      // we expect there to be only one date)
	      //var newDate = ev.newSelection[0];
	      var newDate = Y.Date.format(ev.newSelection[0], {format: "%B %d, %Y"});
	      //console.log(newDate);
	      var intime = [];
	      {% for tg in timeGroup %}
	      	var curdate = "{{tg[1][0:14]}}";
	      	if (curdate == newDate){
	      		intime.push("{{tg[0]}}");
	      	}
	  	  {% endfor %}
	      //console.log(intime);
	      // Format the date and output it to a DOM
	      // element.
	      //Y.one("#starttime").setHTML(dtdate.format(newDate));
	      if (intime.length == 1){
	      	Y.one("#before").set("value", intime[0]);
	      	Y.one("#after").set("value", intime[0]);
	      }
	      else {
	      	Y.one("#before").set("value", intime[1]);
	      	Y.one("#after").set("value", intime[0]);
		  }
	      reloadHeatmap();
	    });
	});
</script>

{% endblock %}