{% extends "layout.html" %}
{% block body %}
<div id="heatmapContainerWrapper">
  	<div id="heatmapContainer">
		{% for i in range(0, rows)%}
			{% for j in range(0, columns)%}
				<img src="static/css/singleseat.png" height="100" width="100" style="margin-left: {{ (840-100*columns)/(columns+1) }}px; margin-top: {{ (600-100*rows)/(rows+1) }}px; " />
			{% endfor %}
			</br>
		{% endfor %}
  	</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/classmap.js')}}"></script>
<script type="text/javascript">
	var promise = new Promise(function(resolve, reject) {
	  resolve({{pams|tojson}});
	});

	promise.then(function(val) {
	  $(document).ready(function(){
	  	// alert("{{optType}}");
		createHeatmap(val, {{rows}}, {{columns}}, "{{optType}}");
	  });
	});
</script>

{% endblock %}