{% extends "layout.html" %}
{% block body %}
<div>
	<div class="title-text">Hi, {{name}} - How are you feeling today?</div>
	<form action="/addmoonikin" method="post" class="form">
		<div class="pam">
		<div class="row">
			{% for i in range(1, 6) %}
			<div class="col-xs-5 col-md-2">
				<img class="valence-img" src="static/moonikins/moo-{{i}}.jpg" name="{{i}}" height="100" width="90" style="opacity:0.55;">
			</div>
			{% endfor %}
		</div>
		<div class="row">
			{% for j in range(1, 6) %}
			<div class="col-xs-5 col-md-2">
				<img class="control-img" src="static/moonikins/control-{{j}}.jpg" name="{{j}}" height="100" width="90" style="opacity:0.55;">
			</div>
			{% endfor %}
		</div>
		<div class="row">
			{% for k in range(1, 6) %}
			<div class="col-xs-5 col-md-2">
				<img class="arousal-img" src="static/moonikins/arousal-{{k}}.jpg" name="{{k}}" height="100" width="90" style="opacity:0.55;">
			</div>
			{% endfor %}
		</div>
	</div>
		<input class="valence-val" name="valence" style="opacity:0;">
		<input class="control-val" name="control" style="opacity:0;">
		<input class="arousal-val" name="arousal" style="opacity:0;">
		<input class="uid-val" name="uid" value="{{uid}}" style="opacity:0;">
		<input class="btn primary button submit-btn" type="submit" value="Submit">
	</form>
</div>

{% endblock %}