{% extends "layout.html" %}
{% block body %}
<div class="classwrapper">
	<form action="/addclass" method="post" class="form-group">
		Class name: <br>
		<input type="text" name="classname" id="classname" class="form-control"><br>
		Number of rows: <br>
		<select name="rownumber" id="rownumber" onchange="refreshMap()" class="form-control">
		{% for i in range(1,11) %}
			<option value={{i}}>{{i}}</option>
		{% endfor %}
		</select> <br>
		Number of columns: <br>
		<select name="columnnumber" id="columnnumber" onchange="refreshMap()" class="form-control">
		{% for i in range(1,11) %}
			<option value={{i}}>{{i}}</option>
		{% endfor %}
		</select> <br>
		<input type="checkbox" name="sequential" value="sequential">Sequential<br><br>
		<div id="classmap">
			<div id="currentmap">
				<img src="static/css/singleseat.png" height="100" width="100">
			</div>
		</div>
		<br><br>
		<input class="btn primary button submit-btn" type="submit" value="Submit">
		<input type="text" name="disabledclass" id="disabledclass" style="opacity:0;"><br>
	</form>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
var disabledDesk = [];
$(".classwrapper").css("margin-left", "auto");
var marginleft = ($(window).width()/2 - $(".classwrapper").width()/2).toString();
$(".classwrapper").css("margin-left", marginleft + "px");

function refreshMap() {
	var classmap = document.getElementById("classmap");
	var currentmap = document.getElementById("currentmap");
	classmap.removeChild(currentmap);

	currentmap = document.createElement("DIV");
	currentmap.id = "currentmap";
	var lineBreak = document.createElement('br');
	var img = document.createElement("IMG");
	var rowDD = document.getElementById("rownumber");
	var colDD = document.getElementById("columnnumber");
	var col = parseInt(colDD.options[colDD.selectedIndex].value);
	var row = parseInt(rowDD.options[rowDD.selectedIndex].value);

	for (i = 0; i < row; i++) {
		for (j = 0; j < col; j++) {
			img = document.createElement("IMG");
			img.src = "static/css/singleseat.png";
			img.height = "100";
			img.width = "100";
			img.name = i.toString() + "-" + j.toString();
			img.onclick = function() {
				var thisName = $(this).attr('name');
				var currValue = $("#disabledclass").val();
				if ($(this).css("opacity") == '1') {
					$(this).css({'opacity': '0.5'});
					// alert($("#disabledclass").val());
					$("#disabledclass").val(currValue + thisName + ",");
				} 
				else {
					$(this).css({'opacity': '1'});
					$("#disabledclass").val(currValue.replace(thisName + ",", ""));
				}
			};
			currentmap.appendChild(img);
		}
		lineBreak = document.createElement('br');
		currentmap.appendChild(lineBreak);
	}
	classmap.appendChild(currentmap)
	$("#disabledclass").val("");

	disabledDesk = [];
	$(".classwrapper").css("margin-left", "auto");
	var marginleft = ($(window).width()/2 - $(".classwrapper").width()/2).toString();
	// alert(marginleft);
	$(".classwrapper").css("margin-left", marginleft + "px");
}

</script>
{% endblock %}