{% extends "layout.html" %}
{% block body %}
<div class="selectclasswrapper">
	<form action="/classmap" method="post" class="form-group">
		<div class="title-text">Select a class</div>
		<div class="selectclass">
			<select class="form-control form-classid" name="classid">
				{% for c in classes %}
				<option value = "{{c[0]}}"> {{c[1]}} </option>
				{% endfor %}
			</select>
			<button class="btn-select" type="submit">Go</button>
		</div>
	</form>
	<a href="/registerclass" class="link">Register a new class</a>
	<br>
	<a href="/modify" class="link">Modify an existing class</a>
</div>

{% endblock %}