{% extends "layout.html" %}
{% block body %}
<div>
	<div class="title-text">Class Map</div>
	<div id="centerwrapper">    
		<div id="slider"></div>
		<p>
			<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p>		
	</div>
<div id="heatmapContainerWrapper">
  	<div id="heatmapContainer">
		{% for i in range(0, 3)%}
			{% for j in range(0, 4)%}
				<img src="static/css/singleseat.png" height="100" width="100" style="margin-left: {{ (720-100*4)/(4+1) }}px; margin-top: {{ (512-100*3)/(3+1) }}px;" />
			{% endfor %}
			</br>
		{% endfor %}
  	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
	  	var heatmapInstance = h337.create({
	    	// only container is required, the rest will be defaults
	    	container:  document.getElementById('heatmapContainer'),
	  	});

		// now generate some random data
		var points = [];
		var width = 720;
		var height = 512;
		var radius = 400;
		
		points.push({
			x: 524,
			y: 170.67,
			value: 175.553,
			radius: radius
		});

		points.push({
			x: 196,
			y: 170.67,
			value: 74.767,
			radius: radius
		});
		points.push({
			x: 524,
			y: 341.34,
			value: 188.645,
			radius: radius
		});
		points.push({
			x: 196,
			y: 341.34,
			value: 105.393,
			radius: radius
		});
	
		// heatmap data format
		var data = { 
		  max: 184.9, 
		  data: points 
		};
		// if you have a set of datapoints always use setData instead of addData
		// for data initialization
		heatmapInstance.setData(data);
	});

	$(function() {
		$("#slider").slider({
			value: 0,
			min: 0,
			max: 40,
			step: 10,
			slide: function(event, ui){
				$("#amount").val(ui.value);
			}
		});
		$("#amount").val("$"+$("#slider").slider("value"));
	})
</script>

{% endblock %}